// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favori-alert {
  margin-top: 100px;
  text-align: center;
  color: rgb(39, 41, 43);
  background-color: rgb(124, 195, 255);
  border-color: rgb(0, 80, 167);
}
