// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favori-alert {
  z-index: 10000;
  top: 0px;
  width: 100%;
  text-align: center;
  color: white;
}
#favorite_link{
  position: fixed;
}
.link-box{
  width: 100px;
  height: 50px;
  border: 1px solid blue; 
}
#link-input{
  width: 62%;
}
#share-copy-button{
  width: 34%;
  height: 30px;
  padding: 0px;
}