.container-show{
    padding-top: 5%;
    background-color: salmon;
}

.product-info{
    background-color: azure;
    padding: 5%;
}

.btn-group{
    left: 70%;
    margin-top: 30%;

}

.product-name{
    text-transform: uppercase;
}

.container-edit{
    padding-top: 5%;
    background-color:cornsilk;
}

.product-edit{
   
    padding: 5%;
}

label{
    text-transform: uppercase;
}

.edit-update-button{
    right: 40px;
    position: absolute;
}
.img-slider{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 100%;
    height: 430px;
  }