.login-register-card{
    a {
        color: #000;
      
        &:visited {
          color: red;
        }
      
        &:hover {
          color: black;
          background-color: greenyellow;
        }
      }
      left: 20%;
      max-width: 55%;
}
.list-group{
  margin-top: 13%;
}
#sign-login-buttons{
    margin-left: 58%;
}
