<table align="center" bgcolor="#7187FF" border="0" cellpadding="0"
    cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <table width="600">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="570">
                                        <tbody>
                                            <tr>
                                                <td width="70">
                                                    <a href="http://mehdicengizz.com"
                                                    target="_blank"><img alt=
                                                    "https://alyadasat.herokuapp.com/assets/navbar/logo-home.png"
                                                    height="47.0" src=
                                                    "https://alyadasat.herokuapp.com/assets/navbar/logo-home.png"
                                                    style="border:0" width=
                                                    "50.0"></a>
                                                </td>
                                                <td style=
                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:25px;line-height:30px!important;font-weight:200!important;color:#fff!important">
                                                !!Company Name!!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                </td>
                            </tr>
                            <tr>

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table bgcolor="#FFFFFF" border="0"
                                    cellpadding="0" cellspacing="0" style=
                                    "overflow:hidden!important;border-radius:3px"
                                    width="580">
                                        <tbody>
                                           
                                            <tr>
                                                <td align="center">
                                                    <table width="85%">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center" style=
                                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:400!important;color:#252b33!important;font-style:italic!important">
                                                                <p>Welcome <%= @email %>!</p> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0" width=
                                                    "78%">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center" style=
                                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#7e8890!important">
                                                                <p>You can confirm your account email through the link below:</p>
																</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center"
                                                                valign="top">
                                                                    <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="580">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <a href=
                                                    "https://alyadasat.herokuapp.com/"
                                                    target="_blank"><img alt=
                                                    "InVision" height="33" src=
                                                    "https://alyadasat.herokuapp.com/assets/navbar/logo-home.png"
                                                    style="border:0" width=
                                                    "34"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style=
                                                "font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#FFFFFF!important;font-size:12px!important;text-transform:uppercase!important;letter-spacing:.045em!important"
                                                valign="top">!!Company Name!!</td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style=
                                                "font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#FFFFFF!important;font-size:11px!important;letter-spacing:.05em!important"
                                                valign="top"><em>!!Bekir &amp; Mehdi Collaboration!!</em></td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <p style=
                                                    "margin-bottom:1em;font-family:Open Sans,sans-serif!important;padding:0!important;margin:0!important;color:#FFFFFF!important;font-size:12px!important;font-weight:300!important">
                                                    <span>!!Addresss Detail Info!!</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>